<template>
<div class="form-container">
  
  <div class="right-form">
    <h2 class="getInTouch">
      Get in touch
    </h2>
    <div class="contact-info">
    <p class="city">
      <i class="fa-solid fa-location-dot"></i>
      5000, Odense C</p>
    <p class="email">
      <i class="fa-solid fa-envelope"></i>
      eilerskov92@gmail.com</p>
    <p class="phone">
      <i class="fa-solid fa-phone"></i>
      (+45) 25 79 95 00</p>
    </div>
  </div>
  <div class="left-form">
  <form ref="form" @submit.prevent="sendEmail">
    <input type="text" name="user_name" placeholder="Your name">
    <input type="email" name="user_email" placeholder="Your e-mail">
    <textarea class="message" name="message" placeholder="Write your message here..."></textarea>
    <input type="submit" value="Send">
  </form>
  </div>
  
</div>
</template>

<script>
import emailjs from 'emailjs-com';
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    sendEmail() {
      emailjs.sendForm('service_azawzdu', 'template_t8d2vft', this.$refs.form, 'abLcwYSBiPoAvuo88')
        .then((result) => {
            console.log('SUCCESS!', result.text);
        }, (error) => {
            console.log('FAILED...', error.text);
        });
    }
  }

}



</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {box-sizing: border-box;}

.form-container {
  margin:auto 20px 50px 20px;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  color: black;
  
}

input[type=text], [type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #1E1F1F;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.message{
  height: 100px;
}

input[type=submit] {
  background-color: #1E1F1F;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}


.left-form{
  margin-top: 30px;
}

.right-form{
  display: flex;
  flex-direction: column;
  gap: 20px;

  
}

.contact-info{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 10px; 
  }

  .city, .email, .phone{
    display: flex;
    gap: 20px;
  }

</style>
