<template>
<main class="container">
  <div class="container__header-text">
    <p class="container__header-text__paragraph" id="mynameis">Hi, my name is</p>
    <h1 class="container__header-text__headline">Peter Eilerskov</h1>
    <p class="container__header-text__paragraph" id="developer">I'm just another frontend-developer</p>
  </div>
  <div class="container__some">
    <span class="container__some__divider" id="divider-one"></span>
    <a href="https://www.linkedin.com/in/peter-eilerskov-60026a154/">
    <i class="fa-brands fa-linkedin container__some__icon" id="linkedIn"></i>
    </a>
    <a href="https://gitlab.com/eilerskov">
    <i class="fa-brands fa-gitlab container__some__icon " id="gitlab"></i>
    </a>
    <a href="https://github.com/eilerskov">
    <i class="fa-brands fa-github container__some__icon" id="github"></i>
    </a>
    <span class="container__some__divider" id="divider-two"></span>
  </div>
  <div class="container__jump-button">
    <a class="container__jump-button__arrow" href="#about">
      <i class="fa-solid fa-heart">
      </i>
      
    </a>
  </div>
  </main>
  <section class="about" id="about">
    <h1 class="about__headline">About me</h1>
    <p class="about__paragraph" id="para1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p>
    <p class="about__paragraph" id="para2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p>
    <p class="about__paragraph" id="para3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata</p>
   
    <div class="about__contact-button">
      <span class="about__contact-button__divider" id="divider-three"></span>
      <a href="#contact-component">
      <button class="about__contact-button__button" id="contact">Contact</button>
      </a>
      <span class="about__contact-button__divider" id="divider-four"></span>
    </div>

    

    <div class="about__code-pics">
      <img class="about__code-pics__pic about__code-pics--html" id="html" src="./assets/html.png">
      <img class="about__code-pics__pic about__code-pics--css" id="css" src="./assets/css.png">
      <img class="about__code-pics__pic about__code-pics--js" id="js" src="./assets/js.png">
      <img class="about__code-pics__pic about__code-pics--vue" id="vue" src="./assets/vue.png">
    </div>


    <contact-component id="contact-component"></contact-component>
  </section>
  
</template>

<script>
import ContactComponent from './components/ContactComponent.vue'
// import gsap from 'gsap'

export default {
  name: 'App',
  components: {
    ContactComponent
  }
}

// wait until DOM is ready
document.addEventListener("DOMContentLoaded", function(event) {
  
  console.log("DOM loaded");
  
  // wait until images, links, fonts, stylesheets, and js is loaded
  window.addEventListener("load", function(e) {
    
    // custom GSAP code goes here
    gsap.fromTo("html", {opacity:0}, {opacity:1, duration:2});
    gsap.fromTo("#mynameis", {opacity:0}, {opacity:1, duration:.8, delay:2});
    gsap.fromTo(".container__header-text__headline", {opacity:0}, {opacity:1, duration:.8, delay:2.8});
    gsap.fromTo("#developer", {opacity:0}, {opacity:1, duration:.8, delay:3.6});

    gsap.fromTo(".container__some__divider",  {width:0}, {width:"50px", duration:1, delay:4.4});

    gsap.from("#linkedIn", {delay: 5.5, duration: 1, ease: "bounce.out", y: -50, opacity: 0, scale: .5});
    gsap.from("#gitlab", {delay: 5.1, duration: 1.2, ease: "bounce.out", y: -50, opacity: 0, scale: .5});
    gsap.from("#github", {delay: 5.3, duration: 1, ease: "bounce.out", y: -50, opacity: 0, scale: .5});

    gsap.to(".container__jump-button__arrow", {delay: 5.8, duration: 0.6, y:10, ease:"circ.in",scale: .5, repeat:-1, yoyo:true});

    gsap.from(".about__headline", { scrollTrigger: ".about__paragraph", duration: 1, ease: "back.out(.5)", x: -300, opacity: 0, scale: .5});
    gsap.from("#para1", { scrollTrigger: ".about__paragraph", delay:.5, duration: 2, ease: "back.out(.5)", x: 1, opacity: 0, scale: .5});
    gsap.from("#para2", { scrollTrigger: ".about__paragraph", delay:.7, duration: 2, ease: "back.out(.5)", x: 1, opacity: 0, scale: .5});
    gsap.from("#para3", { scrollTrigger: ".about__paragraph", delay:.9, duration: 2, ease: "back.out(.5)", x: 1, opacity: 0, scale: .5});

    
    gsap.from("#divider-three", { scrollTrigger: ".about__contact-button", delay:1, duration: 1.2, ease: "back.out(1.5)", x: -10, opacity: 0, scale: .5});
    gsap.from("#divider-four", { scrollTrigger: ".about__contact-button", delay:1, duration: 1.2, ease: "back.out(1.5)", x: 10, opacity: 0, scale: .5});
    gsap.from("#contact", { scrollTrigger: ".about__contact-button", delay:1.5, duration: 1.2, ease: "back.out(1.5)", x: 10, opacity: 0, scale: .5});
    
    gsap.from("#contact-component", { scrollTrigger: "#contact-component", duration: 1.2, ease: "back.out(1.5)", x: 10, opacity: 0, scale: .5});
      

    gsap.from("#html", { scrollTrigger: ".about__code-pics", delay:1, duration: 2.5, ease: "back.out(1.5)", x: 100, opacity: 0, scale: .5});
    gsap.from("#css", { scrollTrigger: ".about__code-pics", delay:1, duration: 2.5, ease: "back.out(1.5)", y: 50, opacity: 0, scale: .5});
    gsap.from("#js", { scrollTrigger: ".about__code-pics", delay:1, duration: 2.5, ease: "back.out(1.5)", x: -100, opacity: 0, scale: .5});
    gsap.from("#vue", { scrollTrigger: ".about__code-pics", delay:1, duration: 2.5, ease: "back.out(1.5)", y: -50, opacity: 0, scale: .5});
    
   });
});

</script>

<style lang="scss">
html{
  scroll-behavior: smooth;
}

*{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
  }


  body{
    background-color: #1E1F1F
    
  }

  .container{
      background-image: url("./assets/peter.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 100vh;
      padding: 0 20px;
    &__header-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      
      &__headline{
        color: #575757;
        font-weight: 500;
      }
      &__paragraph{
        color: #4C4945;
        margin: 10px;
        font-weight: 100;
      }
    }

    &__some{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      gap: 50px;
      &__icon{
        color: #1E1F1F;
        font-size: 25px;
      }
      &__divider{
        height: 1.5px;
        width: 50px;
        background: #1E1F1F;
        transform: rotate(180deg);
      }
      
    }

    &__jump-button{
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            cursor: pointer;
            position: absolute;
            bottom: 50px;
            text-decoration: none;
            z-index: 2;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-decoration: none;
            .fa-heart{
              color: white;
            }
    }

    

  } 
  .about{
      color: white;
      background-color: #1E1F1F;
      margin: 0;
      margin-top: -10px;
      height: 115vh;
      z-index: -100;

      &__headline{
        padding: 20px;
      }

      &__paragraph{
        margin: 20px;
        text-align: justify;
      }

      &__contact-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        &__divider{
          height: 1.5px;
          width: 50px;
          background: white;
          margin: 0 40px;
        }
        &__button{
          background-color:transparent;
          border:1px solid #ffffff;
          cursor:pointer;
          color:#ffffff;
          font-size:17px;
          padding:10px 31px;
          text-decoration:none;
        }
      }

      &__code-pics{
        display: flex;
        position: relative;
        &__pic{
          width: 70px;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          top: 20px;
        }
        &--html{
          left: -200px;
          top: 35px;
        }
        
        &--js{
          left: 200px;
          top: 35px;
        }

        &--vue{
          top: 125px;
        }
      }
    } 

    #contact-component{
      margin-top: 300px;
    }
    </style>
